<!DOCTYPE HTML>
{% extends 'app/base.html'%}

{% load static %}

{% block contenido%}

<header id="gtco-header" class="gtco-cover gtco-cover-md" role="banner" style="background-image: url(../../static/app/images/img_bg_2.jpg)">
	<div class="overlay"></div>
	<div class="gtco-container">
		<div class="row">
			<div class="col-md-12 col-md-offset-0 text-left">
				<div class="row row-mt-15em">
					<div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
						<h1>Ver reservas</h1>	
					</div>
			</div>
		</div>
	</div>
</header>

	<div class="gtco-section">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2>Reservas en espera:</h2>
				</div>
			</div>
			<section id="yellow-bg">
				<div class="container mt-5">
				  <h3>Lista de reservas</h3>
				  <table class="table table-striped">
					  <thead>
						  <tr>
							  <th>Nombre</th>
							  <th>Actividad</th>
							  <th>Destino</th>
							  <th>Fecha viaje</th>
						  </tr>
					  </thead>
					  <tbody>
						  {% for re in reservas %}
						  <tr>
							  <td>{{ re.nombre }}</td>
							  <td>{{ re.actividad }}</td>
							  <td>{{ re.destino }}</td>
							  <td>{{ re.fecha_viaje  }}</td>
							  <td><a href="" class="btn btn-primary">Modificar</a></td>
							  <td><a href="" class="btn btn-danger">Eliminar</a></td>
						  </tr>
						  {% endfor %}
					  </tbody>
				  </table>
				  <a href="{% url 'index' %}" class="btn btn-success">Nuevo registro</a>
				  <p>&nbsp;</p>
			  </div>

{% endblock %}

