{% extends 'app/base.html'%}

{% load static %}

{% block contenido%}
<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url(../../static/app/images/img_bg_3.jpg)">
	<div class="overlay"></div>
	<div class="gtco-container">
		<div class="row">
			<div class="col-md-12 col-md-offset-0 text-left">
				<div class="row row-mt-15em">

					<div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
						<span class="intro-text-small">No seas tímido</span>
						<h1>Ponte en contacto</h1>	
					</div>
					
				</div>
				
			</div>
		</div>
	</div>
</header>
	
	<div class="gtco-section border-bottom">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-6 animate-box">
					<h3>Ponte en contacto</h3>
					<form method="POST">
						{% csrf_token %}
						{{ contactForm.as_p }}
						<div class="form-group">
							<input type="submit" value="Enviar mensaje" class="btn btn-primary">
						</div>

					</form>		
				</div>
				<div class="col-md-5 col-md-push-1 animate-box">
					
					<div class="gtco-contact-info">
						<h3>Información de contacto</h3>
						<ul>
							<li >Duoc Uc <br> Sede Puente Alto</li>
							<li class="phone"><a href="tel://5691234567">+5691234567</a></li>
							<li class="email"><a href="mailto:info@yoursite.com">info@duocuc.cl</a></li>
							<li class="url"><a href="https://freehtml5.co">Git</a></li>
						</ul>
					</div>


				</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}