<!DOCTYPE HTML>
{% extends 'app/base.html'%}

{% load static %}

{% block contenido%}
<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url(../../static/app/images/img_6.jpg)">
	<div class="overlay"></div>
	<div class="gtco-container">
		<div class="row">
			<div class="col-md-12 col-md-offset-0 text-center">
				<div class="row row-mt-15em">

					<div class="col-md-12 mt-text animate-box" data-animate-effect="fadeInUp">
						<h1>Planes para todos</h1>	
					</div>
					
				</div>
				
			</div>
		</div>
	</div>
</header>
	<div class="gtco-section border-bottom">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2>Elige el mejor paquete de viaje</h2>
					<p>Los planes consisten en paquetes Standar (todos los viajes incluyen ida y vuelta).</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="price-box">
						<h2 class="pricing-plan">Basico</h2>
						<div class="price"><sup class="currency">$</sup>800.000<small>/plan mensual</small></div>
						<p>Plan Basico para escadas por America</p>
						<hr>
						<ul class="pricing-info">
							<li>2 viajes 3 y 2 noches a cualquier pais del continente americano</li>
							<li>Estadia Hotel</li>
							<li>Desayuno</li>
							<li>2 tours exclusivos</li>
						</ul>
						<a href="#" class="btn btn-default btn-sm">Contratar Ahora</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="price-box">
						<h2 class="pricing-plan">Normal</h2>
						<div class="price"><sup class="currency">$</sup>1.550.000<small>/plan mensual</small></div>
						<p>Para gente que le gusta viajar</p>
						<hr>
						<ul class="pricing-info">
							<li>1 Viaje 7 dias y 8 noches a cualquier destino </li>
							<li>Alojamiento all inclusive</li>
							<li>Spa</li>
							<li>2 tours y 1 viaje en globo aerostatico (solo disponible en Italia)</li>
						</ul>
						<a href="#" class="btn btn-default btn-sm">Contratar Ahora</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="price-box popular">
						<div class="popular-text">Popular</div>
						<h2 class="pricing-plan">Full</h2>
						<div class="price"><sup class="currency">$</sup>2.500.000<small>/p/p</small></div>
						<p>Para los que saben de viaje</p>
						<hr>
						<ul class="pricing-info">
							<li>1 viaje 6 dias y 7 noches en USA</li>
							<li>1 viaje 5 dias y 6 noches a cualquier destino</li>
							<li>All inclusive</li>
							<li>Viaje en clase ejecutiva</li>
						</ul>
						<a href="#" class="btn btn-primary btn-sm">Contratar Ahora</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="gtco-section">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
					<h2>Preguntas y respuestas frecuentes</h2>
					<p>Preguntas mas comunes sobre nuestro servicio.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<ul class="fh5co-faq-list">
						<li class="animate-box">
							<h2>Como puedo programar un viaje?</h2>
							<p>Para poder programar un viaje con nosotros, primero debes iniciar sesion y luego seleccionar que viaje quieres realizar para poder viajar con nosotros.</p>
						</li>
						<li class="animate-box">
							<h2>Que puedo hacer para cancelar un viaje?</h2>
							<p>Para cancelar o modificar un viaje, debes contactarte con nuestro equipo a traves del correo electronico info@duocuc.cl .</p>
						</li>
						<li class="animate-box">
							<h2>Si tengo problemas, a quien contacto?</h2>
							<p>el correo de contacto es info@duocuc.cl.</p>
						</li>
						<li class="animate-box">
							<h2>Puedo usar un nombre de usuario ya existente?</h2>
							<p>No, el sistema reconoce a los usuarios por su nombre, no permitiendo que otro usuario tenga el mismo nombre de usuario.</p>
						</li>
						<li class="animate-box">
							<h2>Como saber cuando habran actualizaciones en la pagina?</h2>
							<p>A medida que se vayan agregando muevas modalidades al sistema se te notificara por correo.</p>
						</li>
						<li class="animate-box">
							<h2>La pagina es libre?</h2>
							<p>Para usar la pagina no necesitas pagar, sin embargo si para el uso de nuestros servicios.</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	
	<div id="gtco-subscribe">
		<div class="gtco-container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2>Subscribete</h2>
					<p>Sé el primero en enterarte de las ofertas y novedades.</p>
				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2">
					<form class="form-inline">
						<div class="col-md-6 col-sm-6">
							<div class="form-group">
								<label for="email" class="sr-only">Correo</label>
								<input type="email" class="form-control" id="email" placeholder="Your Email">
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<button type="submit" class="btn btn-default btn-block">Subscribete</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

